<template>
  <button :style="{width,height}" @click="click" class="about">{{ title }}</button>
</template>

<script>
export default {
  name: 'ActionButton',
  props: {
    title: {
      type: String,
      default: 'Подробнее'
    },
    width: {
      type: String,
      default: '100%'
    },
    height: {
      type: String,
      default: '20px'
    }
  },
  methods: {
    click (e) {
      this.$emit('click', e)
    }
  }
}
</script>

<style lang="scss" scoped>
.about {
  outline: none;
  background: white;
  border: solid 1px orangered;
  border-radius: 5px;
  width: 100%;
  height: 50px;
  color: orangered;
  cursor: pointer;
}
</style>
