<template>
  <div class="content">
    <label class="content_label" for="input-text">{{ placeholder }}</label>
    <input class="content_input" id="input-text" type="text" :value="value" @input="change">
  </div>
</template>

<script>
export default {
  name: 'InputComponent',
  props: {
    value: {
      type: String,
      default: ''
    },
    placeholder: {
      type: String,
      default: ''
    }
  },
  methods: {
    change (e) {
      this.$emit('input', e.target.value)
    }
  }
}
</script>

<style lang="scss" scoped>
.content {
  position: relative;
  width: 100%;

  &_label {
    display: block;
    position: absolute;
    background: white;
    color: rgba(128, 128, 128, 0.7);
    padding: 5px;
    font-weight: 600;
    font-size: 14px;
    transform: translate(14px, -11px);
  }

  &_input {
    display: block;
    outline: none;
    border: solid 1px rgba(128, 128, 128, 0.7);
    background: white;
    border-radius: 5px;
    padding: 3px;
    font-size: 16px;
    font-weight: 400;
    height: 40px;
    width: 100%;
  }
}
</style>
