<template>
  <div class="content">
    <MultiSelect
      :id="id"
      :showLabels="false"
      class="select"
      :value="value"
      :options="options"
      @select="select"
      @open="open"
      @close="close"
      :label="searchLabel"
      :placeholder="title"/>
  </div>
</template>

<script>
export default {
  name: 'SelectComponent',
  props: {
    id: {
      type: String,
      default: ''
    },
    placeholder: {
      type: String,
      default: ''
    },
    title: {
      type: String,
      default: ''
    },
    value: {},
    options: {
      type: Array,
      default: () => []
    },
    searchLabel: {
      type: String,
      default: ''
    }
  },
  data () {
    return {
      isOpen: false
    }
  },
  methods: {
    select (value) {
      this.$emit('input', value)
    }
  }
}
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style lang="scss">
.multiselect__tags {
  min-height: 50px !important;

}

.multiselect__single {
  font-weight: 700 !important;
  margin-top: 5px;
}

.multiselect__element {
  position: relative;
  font-weight: 700 !important;
}

.multiselect__placeholder {
  transform: translate(11px, -21px) !important;
  background: white !important;
  padding: 5px !important;
}
</style>

<style lang="scss" scoped>
.content {
  position: relative;
  width: 100%;
}

.select {
  width: 200px;
  cursor: pointer;
  border: solid 1px rgba(128, 128, 128, 0.7);
  border-radius: 5px;
}
</style>
