<template>
  <button :style="{width,height}" @click="click" class="submit">{{ title }}</button>
</template>

<script>
export default {
  name: 'SubmitButton',
  props: {
    title: {
      type: String,
      default: 'Отправить'
    },
    width: {
      type: String,
      default: '100%'
    },
    height: {
      type: String,
      default: '20px'
    }
  },
  methods: {
    click (e) {
      this.$emit('click', e)
    }
  }
}
</script>

<style lang="scss" scoped>
.submit {
  outline: none;
  background: orangered;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
</style>
