<template>
  <div class="overlay">
    <div class="modal">
      <div class="modal_head">
        <p class="modal_title">Откликнуться</p>
        <button @click="close" class="modal_close">
          <img :src="require('./../assets/close.svg')" alt="закрыть">
        </button>
      </div>
      <div class="modal_form">
        <InputComponent v-model="lastName" placeholder="Фамилия"/>
        <InputComponent v-model="firstName" placeholder="Имя"/>
        <InputComponent v-model="patronymic" placeholder="Отчество"/>
        <InputComponent v-model="phone" placeholder="Номер телефона"/>
      </div>
      <div class="checkbox-container">
        <label class="checkbox-text" for="">Даю согласие на обработку персональных данных</label>
        <input v-model="agree" type="checkbox" class="checkbox" id="checkbox-text">
      </div>
      <div class="container-button">
        <SubmitButton width="200px" height="70px" @click="submit" title="Откликнуться!"/>
      </div>
    </div>
  </div>
</template>

<script>
import InputComponent from '@/ui/InputComponent'
import { mapMutations } from 'vuex'
import SubmitButton from '@/ui/SubmitButton'

export default {
  name: 'ResponseModal',
  components: {
    InputComponent,
    SubmitButton
  },
  data () {
    return {
      firstName: '',
      lastName: '',
      patronymic: '',
      phone: '',
      agree: false
    }
  },
  methods: {
    ...mapMutations({
      openModal: 'toggleModalResponse'
    }),
    submit () {
      const str = `
      Имя:${this.firstName ? this.firstName : '-'}
      Фамилия: ${this.lastName ? this.lastName : '-'}
      Имя: ${this.patronymic ? this.patronymic : '-'}
      Отчество: ${this.phone ? this.phone : '-'}
      Согласен: ${this.agree ? 'Да' : 'Нет'}`
      alert(str)
      this.openModal(false)
      this.phone = ''
      this.firstName = ''
      this.lastName = ''
      this.patronymic = ''
      this.agree = false
    },
    close () {
      this.openModal(false)
      this.phone = ''
      this.firstName = ''
      this.lastName = ''
      this.patronymic = ''
      this.agree = false
    }
  }
}
</script>

<style lang="scss" scoped>
.overlay {
  z-index: 500;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background: rgba(38, 38, 38, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: column;
  position: relative;
  width: 440px;
  min-height: 500px;
  border-radius: 5px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  padding: 30px;
  gap: 20px;
  background: white;

  &_head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &_close {
    display: block;
    outline: none;
    cursor: pointer;
    background: none;
    border: none;
  }

  &_title {
    display: block;
    font-size: 30px;
    font-weight: 500;
    color: black;
    margin: 0;
  }

  &_form {
    width: 80%;
    margin: 0 auto 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column;
    gap: 20px;
  }
}

.checkbox-container {
  display: flex;
  width: 100%;
  justify-content: start;
  gap: 30px;
  flex-flow: row-reverse;
}

.checkbox-text {
  font-size: 16px;
  font-weight: 500;
  color: black;
}

.checkbox {
  display: block;
  cursor: pointer;
}

.container-button {
  display: flex;
  justify-content: start;
  width: 100%;
}

</style>
