<template>
  <ContainerComponent>
    <div class="grid">
      <div class="grid_filter">
        <p class="title">Поиск по категориям</p>
        <FilterComponent/>
      </div>
      <div class="grid_vacancies">
        <p class="title">Найдено: {{ vacancies.length | formatString }} </p>
        <VacanciesComponent/>
      </div>
    </div>
  </ContainerComponent>
</template>

<script>
import ContainerComponent from '@/layouts/ContainerComponent'
import FilterComponent from '@/components/FilterComponent'
import VacanciesComponent from '@/components/VacanciesComponent'
import { stringCountVacancies } from '@/utils/format'
import { mapActions, mapMutations, mapState } from 'vuex'

export default {
  name: 'VacanciesPage',
  components: {
    VacanciesComponent,
    FilterComponent,
    ContainerComponent
  },
  computed: {
    ...mapState({
      vacancies: state => state.vacancies.filterVacancies
    })
  },
  methods: {
    ...mapActions({
      getVacancies: 'vacancies/getVacancies'
    }),
    ...mapMutations({
      toggleLoading: 'toggleLoading'
    })
  },
  filters: {
    formatString (number) {
      return stringCountVacancies(number)
    }
  },
  created () {
    this.toggleLoading(true)
    this.getVacancies()
      .finally(() => {
        this.toggleLoading(false)
      })
  }
}
</script>

<style lang="scss" scoped>
.grid {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-areas: 'filter vacancies';
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 80px;
  @media screen and (max-width: 1080px) {
    grid-template-areas: 'filter'
                            'vacancies';
  }

  &_filter {
    grid-area: filter;
    display: flex;
    flex-flow: column;
    align-items: end;
    gap: 40px;
    @media screen and (max-width: 1080px) {
      align-items: center;
    }
  }

  &_vacancies {
    grid-area: vacancies;
    width: 100%;
    display: flex;
    flex-flow: column;
    gap: 40px;
  }
}

.title {
  display: block;
  font-size: 30px;
  font-weight: 500;
  color: black;
  margin: 20px 0 0;
}
</style>
