<template>
  <div class="card">
    <p class="card_label">{{ vacancy.placetitle }}</p>
    <p class="card_title">{{ vacancy.proftitle }}</p>
    <hr style="width: 100%; border: solid 1px rgba(128,128,128,0.2)">
    <div class="card_content">
      <p class="card_text">{{ vacancy.salary_volume_ex }}</p>
      <p class="card_text">{{ vacancy.directiontitle }}</p>
      <p class="card_text">{{ vacancy.clientname }}</p>
    </div>
    <div class="card_action">
      <ActionButton width="100%" height="50px" title="Подробнее"/>
      <SubmitButton width="100%" height="50px" @click="click" title="Откликнуться!"/>
    </div>
  </div>
</template>

<script>
import { mapMutations } from 'vuex'
import SubmitButton from '@/ui/SubmitButton'
import ActionButton from '@/ui/ActionButton'

export default {
  name: 'CardComponent',
  components: {
    ActionButton,
    SubmitButton
  },
  props: {
    vacancy: {
      type: Object,
      default: () => {
      }
    }
  },
  methods: {
    ...mapMutations({
      openModal: 'toggleModalResponse'
    }),
    click () {
      this.openModal(true)
    }
  }
}
</script>

<style lang="scss" scoped>
.card {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-flow: column;
  width: 250px;
  border-radius: 5px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  padding: 10px;
  height: 390px;

  &_content {
    display: flex;
    justify-content: space-between;
    flex-flow: column;
    gap: 15px;
    width: 100%;
  }

  &_label {
    justify-items: start;
    display: block;
    font-size: 14px;
    color: rgba(128, 128, 128, 0.5);
    font-weight: 500;
    margin: 0;
  }

  &_title {
    font-size: 25px;
    font-weight: bold;
    margin: 0;
  }

  &_text {
    display: block;
    font-size: 16px;
    font-weight: 600;
    margin: 0;
  }

  &_action {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-flow: column;
    gap: 10px;
  }
}
</style>
