<template>
  <div class="wrapper">
    <SelectComponent
      id="select-region"
      v-model="region"
      :options="regions"
      search-label="name"
      title="Регион"
    />
    <SelectComponent
      id="select-city"
      v-model="city"
      :options="cites"
      search-label="name"
      title="Город"
    />
    <SelectComponent
      id="select-company"
      v-model="company"
      :options="organizations"
      search-label="name"
      title="Компания"
    />
    <ActionButton width="100%" height="50px" @click="clearFilter" title="Отчистить"/>
  </div>
</template>

<script>
import { mapMutations, mapState } from 'vuex'
import ActionButton from '@/ui/ActionButton'
import SelectComponent from '@/ui/SelectComponent'

export default {
  name: 'FilterComponent',
  components: {
    SelectComponent,
    ActionButton
  },
  computed: {
    ...mapState({
      regions: state => state.vacancies.regions,
      cites: state => state.vacancies.cites,
      organizations: state => state.vacancies.company,
      filters: state => state.vacancies.filters
    }),
    region: {
      get () {
        return this.filters.region
      },
      set (value) {
        this.updateRegion(value)
        this.filterVacancies()
      }
    },
    company: {
      get () {
        return this.filters.company
      },
      set (value) {
        this.updateCompany(value)
        this.filterVacancies()
      }
    },
    city: {
      get () {
        return this.filters.city
      },
      set (value) {
        this.updateCity(value)
        this.filterVacancies()
      }
    }
  },
  methods: {
    ...mapMutations({
      updateCompany: 'vacancies/updateFilterCompany',
      updateRegion: 'vacancies/updateFilterRegion',
      updateCity: 'vacancies/updateFilterCity',
      filterVacancies: 'vacancies/filterVacancies',
      clearFilter: 'vacancies/clearFilter'
    })
  }
}
</script>
<style lang="scss" scoped>
.wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
  min-height: 200px;
  border-radius: 5px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  min-width: 200px;
  padding: 20px;
  margin: 20px;
  gap: 50px;
}

</style>
