<template>
  <div class="overlay-loading">
    <img class="loading" :src="require('@/assets/loading.gif')" alt="Loading...">
  </div>
</template>

<script>
export default {
  name: 'LoadingComponent'
}
</script>

<style lang="scss" scoped>
.overlay-loading {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background: rgba(206, 202, 202, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading {
  width: 100px;
  height: 100px;
}
</style>
