<template>
  <div class="content">
    <CardComponent v-for="(vacancy,index) in vacancies" :key="index" :vacancy="vacancy"/>
    <div class="text-block" v-if="vacancies.length === 0">
      <p class="text">Ни чего не найдено</p>
    </div>
  </div>
</template>

<script>
import CardComponent from '@/components/CardComponent'
import { mapState } from 'vuex'

export default {
  name: 'VacanciesComponent',
  components: { CardComponent },
  computed: {
    ...mapState({
      vacancies: state => state.vacancies.filterVacancies
    })
  }
}
</script>

<style lang="scss" scoped>
.content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
}

.text-block {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.text {
  font-size: 40px;
  font-weight: 500;
  color: rgba(128, 128, 128, 0.5);
}
</style>
