<template>
  <div>
    <VacanciesPage/>
    <ResponseModal v-if="isOpen"/>
    <LoadingComponent v-if="isLoading"/>
  </div>
</template>

<script>

import VacanciesPage from '@/pages/VacanciesPage'
import ResponseModal from '@/modals/ResponseModal'
import { mapState } from 'vuex'
import LoadingComponent from '@/components/LoadingComponent'

export default {
  name: 'App',
  components: {
    LoadingComponent,
    VacanciesPage,
    ResponseModal
  },
  computed: {
    ...mapState({
      isOpen: state => state.isOpenModalResponse,
      isLoading: state => state.isLoading
    })
  }
}
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: white;
  margin: 0;
}
</style>
