<template>
  <div class="container">
    <slot></slot>
  </div>
</template>

<script>
export default {
  name: 'ContainerComponent'
}
</script>

<style lang="scss" scoped>

@mixin container() {
  display: block;
  width: 1080px;
  margin: 0 auto 0;
  height: 98vh;
  @include desktop {
    width: 991px;
  }
  @include tablet {
    width: 90%;
  }
  @include mobile {
    width: 98%;
  }
}

@mixin desktop() {
  @media screen and (max-width: 1200px) {
    @content
  }
}

@mixin tablet() {
  @media screen and (max-width: 1080px) {
    @content
  }
}

@mixin mobile() {
  @media screen and (max-width: 556px) {
    @content
  }
}

.container {
  @include container
}
</style>
